<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo_app">
    <application
        android:label="todo_app">
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
